body    {
		text-align: center;
		font-family: arial; 
<<<<<<< HEAD
		background: url("http://67.media.tumblr.com/67f9e1608af7082d9db3df685ff18ab2/tumblr_ogsze0TYkE1u1xf3no1_1280.jpg");
=======
		background: url("http://3.bp.blogspot.com/-Xlq4C1pfwr4/Vbuhn7fBUmI/AAAAAAAAV_k/Gryn2sw9TNk/s1600/tropical-beach-sunset-backgrounds-9391-hd-wallpapers-in-beach-n.jpg");
>>>>>>> origin/master
		background-size: cover;
		background-position: center;
		color: white; 
		}
	

a 		{
		font-family: arial;
		color:white;
		padding: 0px 10px 0px 10px;
		text-decoration: none;}

p 		{
		font-family: arial;
		color:white;
		margin-top:20px;
		margin-bottom:20px;}



h1		{
		font-size: 60pt;
		color:white;
		margin-bottom:0px;}

h2		{
		color: white;
		font-size:25pt;
		}

p#end  	{font-family: arial;
		color:white;
		margin-top:20px;
		margin-bottom:20px;}

p#destinations {font-family: arial;
		color:white;
		text-align:justify;
		margin-top:40px;
		margin-bottom:20px;}

<<<<<<< Updated upstream
=======
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(75,75,75,0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(450px);
  -ms-transform: translateY(450px);
  transform: translateY(450px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

/*helllloooo eilidh */
.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
  padding: 62px 100px;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

>>>>>>> Stashed changes
ul#list{font-family: arial;
		color:white;
		text-align:left;
		}

