body    {
		text-align: center;
		font-family: arial; 
		background-color: #333537;
		background-size: cover;
		margin-left:40px;
		margin-right: 40px;
		margin-bottom:0px;}

a 		{
		font-family: arial;
		color:white;
		padding: 0px 10px 0px 10px;
		text-decoration: none;}

p 		{
		font-family: arial;
		color:white;
		margin-top:20px;
		margin-bottom:20px;}

div {
   		column-count: 3;}

p#threeparagraphs 
		{display:inline-block;}

h1		{
		font-size: 60pt;
		color:white;
		margin-bottom:0px;}

h2		{
		color: white;
		font-size:25pt;
		}

iframe	{margin-bottom:50px;}

p#end  	{font-family: arial;
		color:white;
		margin-top:20px;
		margin-bottom:20px;}

p#destinations {font-family: arial;
		color:white;
		text-align:justify;
		margin-top:40px;
		margin-bottom:20px;}
/****************************************************************/
/***********Getting pics aligned and captions sorted*************/
/****************************************************************/
pics {
	width: 100%;
}

#pic1 {

	max-width: 700px; /*change this to change the picture size*/
	margin: 0 auto;
}

#pic1 img{
	width: 100%;
}

#pic2 {

	max-width: 480px;
	margin: 0 auto;
}

#pic2 img{

	width: 100%;
}

#pic3 {

	max-width: 480px;
	margin: 0 auto;
}

#pic3 img{

	width: 100%;
}